/**
* Variables
*/

:root {
    --roboto-condensed: 'Roboto Condensed', sans-serif;
    --rajdhani-font: 'Rajdhani', sans-serif;
    --primary-color: #0babfc;
    --secondary-color: #232323;
}

/**
* Base #start
*/

*,
*::before,
*::after {
    box-sizing: border-box !important;
    text-rendering: optimizeLegibility !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004) !important;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--roboto-condensed);
    min-height: 100%;
}

/**
* Base #end
*/

/**
* Header #start
*/

.header {
    background: var(--secondary-color);
    border-bottom: 3px solid var(--primary-color);
    box-shadow: 0px 2px 2.97px 0.03px rgba(204, 204, 204, 1);
    height: 100px;
}

.header__container {
    align-items: center;
    background: var(--secondary-color);
    display: flex;
    height: 100%;
    justify-content: start;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 8px 0 8px;
    width: 100%;
}

/**
* Header #mobile-button
*/

.header__mobile-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.mobile-button__line {
    background: var(--primary-color);
    border-radius: 4px;
    height: 4px;
    width: 28px;
}

/**
* Header #logo
*/

.header__logo {
    background: url(../img/logo/logo-mini.png) center no-repeat;
    height: 60px;
    margin: 0 0 0 16px;
    text-indent: -9999px;
    width: 182px;
}

/**
* Header #nav
*/

.header__nav {
    display: none;
}

/**
* Header #menu
*/

.nav__menu {
    margin: 0 45px 0 0;
}

.menu__list {
    display: flex;
    gap: 30px;
}

.menu__item {
    font-family: var(--rajdhani-font);
    font-weight: 500;
}

.menu__link {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}

.menu__link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/**
* Header #search
*/

.nav__search {
    position: relative;
}

.search__input {
    background: #000;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: #cecece;
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    outline: none;
    padding: 0 55px 0 15px;
    width: 230px;
}

.search__input::placeholder {
    color: rgba(206, 206, 206, .88);
}

.search__button {
    background: var(--primary-color);
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 40px;
    line-height: 0;
    position: absolute;
    right: 0;
    width: 40px;
}

.search__icon {
    color: #000;
    font-size: 26px;
}

/**
* Header #end
*/

/**
* Footer #start
*/

.footer {
    background: var(--secondary-color);
    border-top: 3px solid var(--primary-color);
    margin-top: auto;
    box-shadow: 0px -2px 2.97px 0.03px rgba(204, 204, 204, 1);
}

.footer__container {
    background: var(--secondary-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 8px 0 8px;
}

.footer__top {
    display: flex;
    justify-content: center;
    padding: 30px 0 45px 0;
}

.footer__logo {
    background: url(../img/logo/logo-mini.png) center no-repeat;
    height: 60px;
    width: 182px;
    text-indent: -9999px;
}

.footer__copy {
    padding: 12px 0 12px 0;
    border-top: 1px solid #000;
}

.copy__text {
    font-family: var(--rajdhani-font);
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.copy__link {
    color: var(--primary-color);
    text-decoration: none;
}

.copy__link:hover {
    text-decoration: underline;
}

/**
* Footer #end
*/

/*
* Media querys #start
**/

@media screen and (min-width: 320px) {
    .header__logo {
        background: url(../img/logo/logo-medium.png);
        width: 228px;
    }

    .footer__logo {
        background: url(../img/logo/logo-single.png);
        width: 255px;
    }
}

@media screen and (min-width: 480px) {
    .header__container {
        padding: 0 10px 0 10px;
    }

    .header__logo {
        background: url(../img/logo/logo-large.png);
        width: 255px;
    }
}

@media screen and (min-width: 768px) {
    .header__container {
        padding: 0 20px 0 20px;
    }

    .header__nav {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: end;
    }

    .nav__menu {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .header__container {
        padding: 0 30px 0 30px;
    }

    .header__mobile-button {
        display: none;
    }

    .header__logo {
        margin: 0 0 0 0;
    }

    .nav__menu {
        display: block;
    }
}

/*
* Media querys #end
**/